@import './fonts/fonts.css';
@import './styles/backgrounds.css';
@import './styles/header.css';
@import './styles/footer.css';

html{
    display: flex;
    align-items: center;
    place-content: center;
    height: 100vh;

}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    max-width: 3264px;
    max-height: 1472px;
    position: relative;
}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 10;
}

.content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 1.75em;
    background: rgba(255,255,255,0.9);
    border-radius: 1px;
    color: #3c3c3c;
    text-align: center;
    letter-spacing: 0.4px;
    transition: background 0.3s,
                padding 0.3s;
}

/* Medium */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .box{
        padding: 1.5em;
    }

    .wrapper{
        border: 2px solid #ffffff;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 767px)  {
    .box{
        padding: 1.25em;
    }
}