.background-image{
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./../images/backgrounds/landscape-background.jpg);
    transition: background-image 0.3s;
}

/* Medium */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .background-image{
        background-image: url(./../images/backgrounds/medium-background.jpg);
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 767px) {
    .background-image{
        background-image: url(./../images/backgrounds/portrait-background.jpg);
    }
}