.footer{
    display: flex;
    justify-content: center;

}
    
.footer .icons-wrapper{
    padding: 0.5em;
    margin-bottom: 2em;
    transition: margin-bottom 0.3s;
}

.icons-wrapper a{
    text-decoration: none;
}

.icons-wrapper img{    
    width: 44px;
    height: 44px;
    margin: 0 0.75em;
    cursor: pointer;
    transition: transform 0.3s;
}

.icons-wrapper img:hover{
    transform: scale(1.1);
}


/* Medium */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
    .footer .icons-wrapper{
        margin-bottom: 1em;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 767px) {
    
    .footer .icons-wrapper{
        margin-bottom: 1em;
    }
    
    .icons-wrapper img{
        width: 32px;
        height: 32px;
    }
}