header .title{
    transform: font-size 0.3s;
}

header .separator{
    width: 200px;
    border: 1px solid #3c3c3c;
    display: inline-block;
}

header .subtitle{
    transform: font-size 0.3s;
    margin-bottom: 0;
}


/* Medium */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 767px) {
    header .title{
        font-size: 1.75em;
        margin-bottom: 0.5em;
    }

    header .subtitle{
        font-size: 1.25em;
    }
}